*
{
    margin: 0;
    padding: 0;
}
body
{
    /* background: url(./images/Screenshot\ \(583\).png); */
    /* background-color: rgb(138, 100, 173); */
    background-color: rgba(122,120,157,255);
    height: 100vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-family:monospace;
    /* color: white; */
    /* color: rgb(131, 35, 175); */
   
}   
#container
{
    width:300px;
    height: 200px;
    /* border: 1px red solid ; */
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: aliceblue;
    /* background: url(./images/Screenshot\ \(583\).png) no-repeat center center/cover; */
    border-radius: 10px;
    /* justify-content: center; */
    /* margin-top: auto; */
    /* margin-bottom: auto; */
}
.main-header
{
    font-family:monospace;
    font-size: 2rem;
    border-bottom: 1px salmon solid;
    text-transform: uppercase;
    margin-top: 5%;
}
#body
{
    display: flex;
    /* justify-content: center; */
    align-items: center;
    flex-direction: column;
    /* border: 1px red solid ; */
    width: 100%;
    margin-top: 1%;
    height: 80%;
    /* margin-top: auto; */

}
#display
{
    /* border: 1px red solid ; */
    height:40%;
    width: 80%;
    font-size: 3rem;
    align-items: center;
    border-top: 1px salmon solid ;
    border-bottom: 1px salmon solid;
    justify-content: center;
    text-align: center;
    margin-top: 4%;
}
#buttons
{
    display: flex;
    flex-direction: row;
    /* border: 1px red solid ; */
    margin-top: 3%;
    justify-content: center;
    text-align: center;
    width: 100%;
    column-gap: 10px;
    padding: 10px;
}
button
{
    padding: 2px;
    /* background-color: rgb(94, 87, 134); */
    border: none;
    height: 150%;
    width: 100px;
    font-size: 3vh;
    text-transform: uppercase;
    font-family: monospace;
    border-radius: 3px;
    text-align: center;
    /* color: rgb(131, 35, 175); */
    font-weight: 1000;
    /* transition: 0ms; */
}

.start
{
    background-color: rgb(36, 141, 36);
}
.reset,.lap
{
    background-color: rgb(189, 24, 24);
}
.stop
{
    background-color: rgb(207, 207, 64);
}
.stop:hover
{
    cursor: pointer;
    background-color: rgb(160, 160, 49);
    /* color:rgb(94, 87, 134) ; */
}
.reset:hover,.lap:hover
{
    cursor: pointer;
    background-color:  rgb(129, 38, 38);
    /* color:rgb(94, 87, 134) ; */
}
.start:hover
{
    cursor: pointer;
    background-color:  rgb(42, 88, 42);
    /* color:rgb(94, 87, 134) ; */
}

.container2.hidden
{
    height: 0;
    overflow: hidden;
    transition: .5s;
    width: 0;
    
}

.container2
{
    height: 200px;
    background-color: aliceblue;
    transition: .5s;
    width:150px;
    height: 200px;
    
    /* border: 1px red solid ; */
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: aliceblue;
    /* background: url(./images/Screenshot\ \(583\).png) no-repeat center center/cover; */
    border-radius: 10px;
    margin-left: 50px;
}


ul
{
    margin-top: 10px;
    transition: 1s;
}
ul li
{
    list-style: none;
    height: 20px;
    margin-top:5px;
    border-top: 1px salmon solid ;
    border-bottom: 1px salmon solid;
    display: flex;
    align-items: center;
    justify-content: center;

    
}